<side-menus>
  <pane side-menu-content drag-content="false">
    <nav-bar type="bar-dark" animation="nav-title-slide-ios7"></nav-bar>
    <nav-view name="appContent"></nav-view>
  </pane> 
  <side-menu side="right" ng-click="sideMenuClick()">
    <div class="centered">
      <img class="nav-logo" src="img/fool-large-logo.png">
    </div>
    <ul class="ulMenu">
      <li class="active visible"><a ng-click="go('app.dashboard')"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li class="active visible"><a ng-click="go('app.scorecard')"><i class="fa fa-bar-chart-o"></i><span>Scorecard</span></a></li>
      <li class="active visible"><a ng-click="go('app.alerts')"><i class="fa fa-bell"></i><span>Alerts</span></a></li>
      <li class="active visible"><a ng-click="go('app.news')"><i class="fa fa-file-text-o"></i><span>News</span></a></li>
      <li class="active visible"><a ng-click="go('login')"><i class="fa fa-unlock-alt"></i><span>Logout</span></a></li>
    </ul>
  </side-menu>
</side-menus>