<view title="'Dashboard'" left-buttons="menuButton" right-buttons="rightButtons">
  <content has-header="true" on-refresh="onRefresh()" class="body">
  	<refresher></refresher>
		<list can-reorder="true" class="card dashboard-cards">
			<div class="item item-round-header dashboard-header">
		  </div>
		  <div class="item centered" ng-click="go('app.scorecard')">
		  	<div class="card-header-icon scorecard"><i class="fa fa-bar-chart-o"></i><br/></div>
		  	<h5 class="card-header-text">SCORECARD SUMMARY</h5>
		  </div>
			<item class="item">
				<b>1 Day Change</b>
				<pos-neg-percent price="{{data.one_day_price}}" percent="{{data.one_day_change}}" dashnote="true"></pos-neg-percent>
			</item>
			<item class="item">
	    	<b>Total Value</b>
	    	<span class="item-note dark dashnote">
		      ${{data.total_value}}
		    </span>
			</item>
			<item class="item">
				<b>Total Returns</b>
				<pos-neg-percent price="{{data.returns_percent}}" percent="{{data.returns_total}}" dashnote="true"></pos-neg-percent>
			</item>
			<item class="item">
				<b>Change vs. S&P</b>
				<pos-neg-percent price="{{data.vs_sp_percent}}" percent="{{data.returns_vs_sp}}" dashnote="true"></pos-neg-percent>
			</item>
			<item class="item">
				<b>Annualized</b>
				<pos-neg-percent price="{{data.annualized_percent}}" percent="{{data.returns_annualized}}" dashnote="true"></pos-neg-percent>
			</item>
		</list>
		<list class="card dashboard-cards">
			<div class="item item-round-header dashboard-header">
		  </div>
		  <div class="item centered">
		  	<div class="card-header-icon scorecard"><i class="fa fa-bar-chart-o"></i><br/></div>
		  	<h5 class="card-header-text">TODAY'S MOVERS</h5>
		  	<div class="row padding centered pull-up">
			  <div class="col col-50 dark">
			  	<i class="icon ion-arrow-up-b"></i> Gainers
			  	<div class="padding-top" ng-repeat="gainer in stocks|filter:{status:'gainer'}" ><button class="button button-block button-condensed button-balanced text-large" ng-click="snapshot({{gainer.id}})">{{gainer.symbol}}</button></div>
			  </div>
			  <div class="col col-50 dark">
			  	<i class="icon ion-arrow-down-b"></i> Losers
					<div class="padding-top" ng-repeat="gainer in stocks|filter:{status:'loser'}" ><button class="button button-block button-condensed button-assertive text-large" ng-click="snapshot(gainer.id)">{{gainer.symbol}}</button></div>
			  </div>
		  </div>
		</div>
		</list>		
		<div class="col col-100">
			<div class="item item-round-header dashboard-header">
		  </div>
		  <div class="item centered" ng-click="go('app.scorecard')">
		  	<div class="card-header-icon scorecard"><i class="ion-arrow-graph-up-right"></i><br/></div>
		  	<h5 class="card-header-text">THE MARKET TODAY</h5>
		  </div>
		  <div class="item white-bg card-spacer">
		  	<div class="row">
		  		<div class="col news focused">DOW</div>
		  		<div class="col focused">16,321.71</div>
		  		<div class="col buffer-right">
		  			<span class="item-note balanced dashnote" style="padding-right: 10px;"><i class="fa fa-arrow-up fa-lg"></i> 0.30%</span>
		  		</div>
		  	</div>
		  	<line-chart></line-chart>
			</div>
		</div>
  </content>
</view>
