<view title="'Dashboard'" left-buttons="leftButtons">
  <content has-header="true" on-refresh="onRefresh()" class="body">
  	<refresher></refresher>
		<list can-reorder="true">
			<item class="item item-icon-left">
				<i class="icon ion-arrow-graph-up-right"></i>				
				1 Day Change	
				<span class="badge badge-balanced">{{data.one_day_change}}%</span>
			</item>
			<item class="item item-icon-left">
				<i class="icon ion-speedometer"></i>
	    	Total Value
	    	<span class="item-note dark">
		      <b>${{data.total_value}}</b>
		    </span>
			</item>
			<item class="item item-icon-left">
				<i class="icon ion-refresh"></i>
				Total Returns
				<span class="item-note balanced"><b>{{data.returns_total}}%</b></span>
			</item>
			<item class="item item-icon-left">
				<i class="icon ion-shuffle"></i>
				vs. S&P
				<span class="item-note balanced"><b>{{data.returns_vs_sp}}%</b></span>
			</item>
			<item class="item item-icon-left">
				<i class="icon ion-android-alarm"></i>
				Annualized
				<span class="item-note dark"><b>45.66%</b></span>
			</item>
		</list>
		<div class="padding">
			<button style="margin-top: -20px;" class="button button-block button-positive" ng-click="myScorecard()">View Scorecard</button>
		</div>
		<div class="centered sub-header">
			<h3>Movers</h3>
		</div>
		<div class="row padding centered text-large">
		  <div class="col col-50 balanced"><strong><i class="icon ion-arrow-up-a"></i> Gainers</strong>
		  	<div class="padding-top" ng-repeat="gainer in stocks|filter:{status:'gainer'}" ><button class="button button-block button-condensed button-balanced text-large" ng-click="snapshot({{gainer.id}})">{{gainer.symbol}}</button></div>
		  </div>
		  <div class="col col-50 assertive"><strong><i class="icon ion-arrow-down-a"></i> Losers</strong>
<div class="padding-top" ng-repeat="gainer in stocks|filter:{status:'loser'}" ><button class="button button-block button-condensed button-assertive text-large" ng-click="snapshot(gainer.id)">{{gainer.symbol}}</button></div>
		  </div>
		</div>
  </content>
</view>
