<view title="'The Motley Fool'">
  <content has-header="false" class="conference-room" scroll="false">
  	<div class="centered login-header">
      <img class="login-logo" src="img/fool-large-logo.png">
    </div>
    <div class="color-divider"></div>
    <list>
		  <item>
		    <input type="text" placeholder="Username">
		  </item>
		  <item>
		    <input type="password" placeholder="Password">
		  </item>
			<li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Agree to <a href="#">terms</a> & <a href="#">privacy policy</a>.
		  </li>		    
		</list>
		<div class="centered padding">
			<button class="button login-login" ng-click="login()">Login</button>
			<button class="button login-signup" ng-click="signUp()">Sign Up</button>
		</div>
		
  </content>
</view>