<view title="'<img src=\'img\\logo.png\'>'">
  <content has-header="true" padding="true">
  	<div class="centered">
  		<h4>You should probably login now.</h4>
  	</div>
    <list>
		  <item>
		    <input type="text" placeholder="Username">
		  </item>
		  <item>
		    <input type="password" placeholder="Password">
		  </item>
			<li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Agree to terms/privacy policy.
		  </li>		    
		</list>
		<button class="button button-full button-positive" ng-click="login()">Login</button>
		<br/>
		<div class="centered">
			<h4>Or perhaps sign up?</h4>
		</div>
		<button class="button button-full button-balanced" ng-click="signUp()">Sign Up</button>
  </content>
</view>