<view title="'<i class=\'icon ion-stats-bars\'></i> My Scorecard'" left-buttons="leftButtons">
  <content has-header="true">
    <div ng-repeat="stock in stocks" class="list card">

		  <div class="item item-avatar">
		    <img src="mcfly.jpg">
		    <h2>{{ stock.title }}</h2>
		    <p><a href="#/stock/detail/{{stock.id}}">More Info</a></p>
		  </div>

		  <div class="item item-body">
		    <img class="full-image" src="delorean.jpg">
		    <p>
		      {{ stock.description }}
		    </p>
		    <p>
		      <a href="#" class="subdued">1 Like</a>
		      <a href="#" class="subdued">5 Comments</a>
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-chatbox"></i>
		      Comment
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>

		</div>
  </content>
</view>
