<view title="'Settings'" left-buttons="menuButton">
  <content has-header="true" class="body">
    <div class="list card">
    	<div class="item centered card-spacer dashboard-header">
    		<h2 style="color: #FFF; margin-bottom: 15px; font-weight: bolder;">Select a Home Screen</h2>
    		<div class="list">
	    		<label class="item item-radio">
				    <input type="radio" name="group" checked="checked">
				    <div class="item-content">
				      Dashboard
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">
				      Scorecard
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">
				      Trade Alerts
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				  <label class="item item-radio">
				    <input type="radio" name="group">
				    <div class="item-content">
				      News
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				  </label>
				</div>
    	</div>
    	<div class="item centered card-spacer trade-header">
    		<ul class="list">
				  <li class="item item-toggle">
				     <b style="color: #444">Allow Push Alerts</b>
				     <label class="toggle">
				       <input type="checkbox" checked="checked">
				       <div class="track">
				         <div class="handle"></div>
				       </div>
				     </label>
				  </li>
				</ul>
    	</div>
	  	<div class="item centered card-spacer news-header">
	  		<h2 style="color: #FFF; margin-bottom: 15px;">Filter Your Content Feeds</h2>
	  		<ul class="list">
		    	<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox" checked="checked">
		     		</label>
		     		Stock Advisor
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Hidden Gems
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Rule Your Retirement
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Income Investor
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Motley Fool Options
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Inside Value
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox">
		     		</label>
		     		Special Ops
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox" checked="checked">
		     		</label>
		     		Rule Breakers
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox" checked="checked">
		     		</label>
		     		Supernova
		  		</li>
		  		<li class="item item-checkbox">
		     		<label class="checkbox">
		       		<input type="checkbox" checked="checked">
		     		</label>
		     		Fool One
		  		</li>
				</ul>
		</div>
  </content>
</view>


<ul class="list">

  