<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">
  
  <tab icon="icon padding-top ion-eye" ng-click="chart({{stockId}})">        
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="true">
        <list>
          <div class="item item-round-header scorecard-header">
          </div>
          <div class="item centered unpadded">
            <div>
              <img src="{{ stock.bg_image }}" style="width: 100%;" />
            </div>
            <div class="rolled-up-header-icon">
              <div class="card-header-icon scorecard-header">
                <i class="fa fa-info" style="width: 16px;"></i><br/>
              </div>
            </div>            
            <br/>
            <h5 class="card-header-text">COMPANY INFORMATION</h5>
            <h1>{{stock.title}}</h1>
            <p>{{ stock.exchange }}:{{ stock.symbol }}</p>
            <h2>{{ stock.current_price | currency:"$" }}</h2>            
            <div class="row">
              <div class="col">
                {{ stock.description }}
              </div>
            </div>
          </div>
        </list>
      </content>
    </view>
  </tab>
  <tab icon="icon padding-top ion-android-book" ng-click="chart({{stockId}})">    
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="false" padding="true">
        <h1>{{ stock.symbol }} News:</h1>
      </content>
    </view>
  </tab>
  <tab icon="icon padding-top ion-pie-graph" ng-click="chart({{stockId}})">
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="false" padding="true">
        <h1>{{ stock.symbol }} Charts!</h1>

        <div class="row">
          <img src="http://g.foolcdn.com/charts/caps/thumbnail.chart?SYMBOL_US={{stock.symbol}}&TIME_SPAN=1Y&TYPE=mountain&RESOLUTION=D&AXIS_SCALE=lin&ID_BENCH1=7883840&ID_BENCH2=&IND_1=&AVG1=&IND_4=CAPS&HEIGHT=160&WIDTH=320&ID_BENCH4_DATE=&CLOSE_LINE=0&k=02282014"/>
        </div>
      </content>
    </view>
  </tab>

</tabs>
