<tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">
  
  <tab icon="icon padding-top ion-eye" ng-click="chart({{stockId}})">    
    <style>
    .hack {
    color:#FFF; 
    position: absolute;
    text-align: center;
    left:0;
    width: 100%;
    }
    .hack h1 {
    border: 2px solid white;
    padding:20px;
    margin:50px 60px;
    color: white;
    }
    #container {
      position: relative;
    }
    div.overlay {
      opacity: .75;
      background-color: black;
      position: absolute;
      left: 0; 
      top: 0;
      margin-top: -5px;
      height: 100%; 
      width: 100%;
    }
    </style>
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="false">
        <div class="row stock-header-image">
          <div id="container">
            <div class="overlay"></div>
            <img style="width:100%" src="{{ stock.bg_image }}"/>
          </div>
          <div class="hack">
            <h1>{{ stock.symbol }}</h1>
          </div>
        </div>
        <div class="row">
          <p>{{ stock.description }}</p>
        </div>
        <div class="row">
          {{stock.exchange}}:{{stock.symbol}}
        </div>
        <div class="row">
        <div class="col col-50">
          {{ stock.current_price | currency:"$" }}
        </div>
        <div class="col col-50">
          <pos-neg-percent value="{{stock.daily_change}}"></pos-neg-percent>
        </div>
      </div>
    </content>
  </view>
  </tab>
  <tab icon="icon padding-top ion-android-book" ng-click="chart({{stockId}})">    
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="false" padding="true">
        <h1>{{ stock.symbol }} News:</h1>
      </content>
    </view>
  </tab>
  <tab icon="icon padding-top ion-pie-graph" ng-click="chart({{stockId}})">
    <view title="stock.title" left-buttons="menuButton">
      <content has-header="true" has-tabs="false" padding="true">
        <h1>{{ stock.symbol }} Charts!</h1>

        <div class="row">
          <img src="http://g.foolcdn.com/charts/caps/thumbnail.chart?SYMBOL_US={{stock.symbol}}&TIME_SPAN=1Y&TYPE=mountain&RESOLUTION=D&AXIS_SCALE=lin&ID_BENCH1=7883840&ID_BENCH2=&IND_1=&AVG1=&IND_4=CAPS&HEIGHT=160&WIDTH=320&ID_BENCH4_DATE=&CLOSE_LINE=0&k=02282014"/>
        </div>
      </content>
    </view>
  </tab>

</tabs>
