<view title="'Trade Alerts'" left-buttons="menuButton">
  <content has-header="true">
    <div ng-repeat="stock in stocks" class="list card">
		 <div class="item item-round-header trade-header">
		  </div>
		  <div class="item item-body">
		  	<div class="row">
				  <div class="col col-20">
				  		<img src="{{ stock.thumb_image }}" class="squared-thumb">
				  </div>
				  <div class="col left buffer-left">
				  	<span class="focused">{{ stock.title }}</span><br/>
				  	<span class="muted">{{ stock.exchange }}:{{ stock.symbol }}</span>
				  </div>
				  <div class="col col-27 right">
				  	<span class="focused">${{ stock.current_price }}</span><br/>
				  	<pos-neg-percent price="{{stock.price_change}}" percent="{{stock.daily_change}}"></pos-neg-percent>
				  </div>
				</div>
		  </div>
		</div>
  </content>
</view>
