<view title="'Trade Alerts'" left-buttons="menuButton">
  <content has-header="true" on-refresh="onRefresh()" class="body">
  	<refresher></refresher>
  	<list>
	    <div ng-repeat="alert in alerts" class="card">
			 	<div class="item item-round-header trade-header">
			 	</div>
			 	<div class="item centered unpadded">
			  	<div>
			  		<img src="{{ alert.bg_image }}" style="width: 100%;" />
			  	</div>
			  	<div class="rolled-up-header-icon">
				  	<div class="card-header-icon trade">
				  		<i class="fa fa-exclamation" style="width: 16px;"></i><br/>
				  	</div>
			  	</div>
			  	<h5 class="card-header-text">{{ alert.service }}</h5>
			  	<div class="padding">
				  	<h2 class="trade">{{alert.title}}</h2>			  	
				  	<p>{{ alert.lead }}</p>
			  	</div>
			  </div>
			</div>
		</list>
  </content>
</view>
