
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 40px;
}

.white-bg {
	background-color: #FFF !important;
}

.card-spacer {
	margin-bottom: 20px;
}

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: none;
}

.card, .list-inset {
	background: none;
}

.card-header-icon {
	margin-top: -10px;
	border-radius: 25px;
	padding: 5px 7px;
	display: inline-block;
}

.card-header-icon.scorecard {
	color: White;
	background-color: #ff9900;
}

h5.card-header-text {
	margin-top: 10px;
	color: #999;
	font-size: 12px !important;
	font-family: 'Roboto Condensed';
	margin-bottom: -5px;
}

.item-round-header {
	height: 9px;
	padding: 0;
	border-width: 0px;
	margin:0;
}

.item-round-header.active {
	background-color: none;
}

/*   0C6299   */

.dashboard-header {
	background-color: #ff9900;   
}

.dashboard {
	color: #ff9900;
}

.trade-header {
	background-color: #882288;
}

.trade {
	color: #882288;
}

.scorecard-header {
	background-color: #469D1C;
}

.scorecard {
	color: #469D1C;
}

.news-header {
	background-color: #0C6299;
}

.news {
	color: #0C6299;
}

.card {
	margin: 10px 10px;
}

.dashboard-cards {
	background-color: none;
	padding: none;
}

.sub-header h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 17px;
}

.dashnote {
	font-family: 'Roboto';
	font-size: 100%;
	font-weight: normal;
	margin-right: -30px;
}

.muted {
	font-size: 10px;
}

.squared-thumb {
	height: 100%;
}

.borderless {
	border: none !important;
}

.focused {
	font-family: Roboto;
	font-size: 100%;
	font-weight: bolder;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.stock-header-image {
	padding: 0px !important;
	margin-bottom: -5px !important;
}

.buffer-left {
	margin-left: 10px;
}

.buffer-right {
	margin-right: 10px;
}

.item.active, .ionic-pseudo .item:active, .item-complex.active .item-content {
	background-color: #FFF !important;
}

.item-complex .item-content, .item-radio .item-content {
	padding: 10px 40px 10px 15px;
}

.button.button-block.button-condensed {
	margin: 0px;
}

.bar .button-bar > .button, .bar .buttons > .button {
	padding: 0px 0px;
	margin: 0px 0px;
}

.pull-up-small {
	margin-top: -10px;
}

.pull-up {
	margin-top: -15px;
}

.nav-jester {
	padding: 0px 8px !important;
	margin: 0px 0px !important;
	color: #FFF;
	background-image: url(/img/icon.png);
	background-size: cover;
}

.body {
	background-image: url(/img/body.jpg) !important;
	background-size: cover !important;
}

.lobby {
	background-image: url(/img/lobby.png) !important;
	background-size: cover !important;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.text-large {
	font-size: 20px;
	font-weight: bold;
}

.menu-box {
	margin: 0 auto;
	background-color: #FFF;
	border-radius:25px;
	width: 175px;
}

.menu-logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-header {
	background-color: #f8f8f8;
}

div.menu {
  position: absolute;
	margin-left: 25px;
  height: 100%;
  width: 100%;
  background: #F6F6F6;
}

div.menu ul {
  width: 175px;
  padding: 10px 10px;
  list-style: none;
  margin: 50px 0 0 0px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.menu-first {
	padding-top: 10px !important;
}

.menu-last {
	margin-bottom: 10px !important;
}

div.menu li {
  font-weight: 200;
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 28px;
  -webkit-transition: all 400ms ease-in-out,opacity 1000ms ease;
  -moz-transition: all 400ms ease-in-out,opacity 1000ms ease;
  -ms-transition: all 400ms ease-in-out,opacity 1000ms ease;
  -o-transition: all 400ms ease-in-out,opacity 1000ms ease;
  transition: all 400ms ease-in-out,opacity 1000ms ease;
  -webkit-transform: translate3d(-150px,0,0) scale(0.2);
  opacity: 0;
}

div.menu li.visible {
    -webkit-transform: translate3d(0px,0,0) scale(1);
    opacity: 1;
}

div.menu li a {
  display: block;
  color: #000000;
  text-decoration: none;
}

div.menu li a i {
    width: 30px;
    text-align: center;
}

div.menu li a span {
    margin-left: 15px;
}

pane {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

pane.inactive {
    margin-left: 90%;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: perspective( 600px ) rotateY(-30deg) scale(0.4);
    -moz-transform: perspective( 600px ) rotateY(-30deg) scale(0.4);
    -o-transform: perspective( 600px ) rotateY(-30deg) scale(0.4);
    transform: perspective( 600px ) rotateY(-30deg) scale(0.4);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.5)));
}